* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  color: hsla(197, 87%, 35%, 1);
  font-family: "Roboto", Helvetica, Arial;
  font-size: 10;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem 0rem;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.5em;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

.city {
  font-size: 1rem;
}

.today {
  margin-bottom: 2rem;
}

.today__temp {
  font-size: 10rem;
  line-height: 1em;
}

.forecasts {
  display: flex;
}

.forecast {
  flex: 1 1 auto;
  padding: 1em 0;
}

.forecast:nth-child(odd) {
  background: hsla(197, 87%, 35%, 0.1);
}

.forecast__date {
  font-size: 0.5rem;
  line-height: 1rem;
  font-weight: bold;
}

.forecast__day {
  display: block;
  font-size: 1rem;
  line-height: 1rem;
  text-transform: uppercase;
}

.forecast__month-day {
  font-size: 0.5rem;
  line-height: 1em;
}

.forecast__temp {
  display: block;
  margin: 0.5em 0;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1em;
}

.forecast__pop {
  display: block;
  font-size: 0.75rem;
  line-height: 1em;
}
