.forecasts {
  display: flex;
}

.forecast {
  flex: 1 1 auto;
  padding: 2em 0;
}

.forecast:nth-child(odd) {
  background: hsla(197, 87%, 35%, 0.1);
}

.forecast__date {
  font-size: 0.5rem;
  line-height: 1rem;
  font-weight: bold;
}

.forecast__day {
  display: block;
  font-size: 1.75rem;
  line-height: 1em;
  text-transform: uppercase;
}

.forecast__month-day {
  font-size: 1rem;
  line-height: 2em;
}

.forecast__temp {
  display: block;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1em;
}

.forecast__weather-icon {
  display: inline-block;
  font-size: 4rem;
  line-height: 1em;
  height: 50px;
  width: 50px;
  margin: 0.5em 0;
}
